<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
  <div class="navbar">
<div class="logo">
  <h2>Dnews</h2>
</div>
  </div>
  <hr>
<section  class="latest-news">
<div class="heading">
  <h2>Latest Updates</h2>
</div>

<div class="news-div">
<div class="news-box">
  <img src="https://1734811051.rsc.cdn77.org/data/images/full/396957/tesla-delivery-cost-cutting-as-companys-main-focus-in-2021s-last-quarter-heres-what-elon-musk-says.jpg">
  <h3>Tesla Delivery Cost Cutting as Company's Main Focus in 2021's Last Quarter! Here's What Elon Musk Says</h3>
  <h2>This code is written in nodejs and is able to create his $36billlion empires just through a simple package</h2>
</div>
<div class="news-box">
  <img src="https://1734811051.rsc.cdn77.org/data/images/full/396957/tesla-delivery-cost-cutting-as-companys-main-focus-in-2021s-last-quarter-heres-what-elon-musk-says.jpg">
  <h3>Tesla Delivery Cost Cutting as Company's Main Focus in 2021's Last Quarter! Here's What Elon Musk Says</h3>
  <h2>This code is written in nodejs and is able to create his $36billlion empires just through a simple package</h2>
</div>
<div class="news-box">
  <img src="https://1734811051.rsc.cdn77.org/data/images/full/396957/tesla-delivery-cost-cutting-as-companys-main-focus-in-2021s-last-quarter-heres-what-elon-musk-says.jpg">
  <h3>Tesla Delivery Cost Cutting as Company's Main Focus in 2021's Last Quarter! Here's What Elon Musk Says</h3>
  <h2>This code is written in nodejs and is able to create his $36billlion empires just through a simple package</h2>
</div>
</div>

</section>
<section>
  <h1></h1>Akash kumar
</section>

  </body>
</html>
