@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EFF0E4;
  color: black;
}
.navbar{
  margin: 10px 30px;
  
}
.nav-category{
  text-align: center;
  font-size: large;
}

.nav-category ul li{
margin: 20px 30px;
list-style: none;
display: inline-block;

}
.nav-category li:hover{
 color: rgb(43, 133, 73);
 font-weight: 400;
 
}

.heading{
text-align: center;
margin-bottom: 40px;
margin-top: 30px;
}
.latest-news{
  padding: 20px 20px;

}
a{
  text-decoration: none;
}


.news-div{

  display: grid;
  grid-template-rows: 160px 200px;
  grid-template-columns: repeat(2,1fr);
  text-align: center;
  
  
}

.news-div img{
  width: 80%;
  height: 90%;
}



.news-box1{

grid-row: 1/3;
grid-column: 1/2;

}
.news-box2{
grid-row: 1/3;
grid-column: 2/-1;

}
.row-2 img{
  width: 80%;
}
.row-2{
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  
}

h3{
  font-family: 'Noto Serif', serif;
}
p{
  margin-top: 20px;
  font-family: 'Acme', sans-serif;
  font-size: 17px;
}
.row-2 h3{
  width: 80%;
  margin-left: 50px;
  
 
}
.news-box1 img:hover{
  
  transform: scale(1.05);
  /* box-shadow: 10px 10px 8px 10px #727272; */
}
.news-box2 img:hover{
  
  transform: scale(1.05);
  /* box-shadow: 10px 10px 8px 10px #727272; */
}

.row-2 img:hover{
  
  transform: scale(1.05);
  /* box-shadow: 10px 10px 8px 10px #727272; */
}

/* .row-2 div:nth-child(n){
 
} */